<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lihuo.common.dao.ArchiveLeixingMapper">
  <resultMap id="BaseResultMap" type="com.lihuo.common.po.ArchiveLeixing">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mingcheng" jdbcType="VARCHAR" property="mingcheng" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mingcheng
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from archive_leixing
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from archive_leixing
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lihuo.common.po.ArchiveLeixing">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into archive_leixing (mingcheng)
    values (#{mingcheng,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lihuo.common.po.ArchiveLeixing">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into archive_leixing
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mingcheng != null">
        mingcheng,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mingcheng != null">
        #{mingcheng,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lihuo.common.po.ArchiveLeixing">
    update archive_leixing
    <set>
      <if test="mingcheng != null">
        mingcheng = #{mingcheng,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lihuo.common.po.ArchiveLeixing">
    update archive_leixing
    set mingcheng = #{mingcheng,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>